.diary__header {
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 100;
}

.diary__header-top {
    height: 93px;
    padding-top: 34px;
    box-sizing: border-box;
    background: #fff;
}

.diary__header-title {
    display: block;
    float: left;
    margin: 3px 0 0 21px;

    font: 700 24px/1 Open Sans;
    color: #5a5a5a
}

.diary__button {
    height: 33px;
    padding-top: 11px;
    box-sizing: border-box;

    border-radius: 4px;

    background: #596582; /* Old browsers */
    background: -moz-linear-gradient(top,  #596582 0%, #4b556d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#596582), color-stop(100%,#4b556d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #596582 0%,#4b556d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #596582 0%,#4b556d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #596582 0%,#4b556d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #596582 0%,#4b556d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596582', endColorstr='#4b556d',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
}

.diary__button span {
    display: block;

    font: 700 11px/1 Open Sans;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.diary__header-all,
.diary__header-current,
.diary__header-statistics {
    display: block;
    float: left;
    margin-left: 25px;

    width: 154px;
}

.diary__header-info {
    display: none;
    width: 631px;
    padding: 4px 0 34px;
    box-sizing: border-box;

    position: absolute;
    left: 22px;
    top: 80px;

    background: #fff;
    border: 1px solid rgba(0,0,0,.23);
    border-radius: 4px;

    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);

    font: 700 18px Open Sans;
    color: #4c5976;
    z-index: 10;
}

.diary__header-info:after {
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    right: 164px;
    top: -6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: 1px solid rgba(0,0,0,.23);
    border-top: 1px solid rgba(0,0,0,.23);
    border-radius: 2px;
    content: '';
}

.header-info__table {
    display: table;
    width: 569px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.header-info__th {
    width: 569px;
    margin: 30px auto 0;
    background: #f5f5f5;
    padding: 16px 21px;
    border: 1px solid #cecece;
    box-sizing: border-box;
}

.header-info__th_period {
    color: #fff;
    background: #a3a3a3;
}

.header-info__row {
    display: table-row;
}
.header-info__cell {
    display: table-cell;
    width: 33%;
    height: 20px;
    border-bottom: 1px solid #cecece;

    box-sizing: border-box;
    padding: 19px 0 18px 22px;

    font: 700 14px/1 Open Sans;
    color: #4c5976;
}
.header-info__cell_middle {
    color: #4e9047;
}

.header-info__cell.header-info__cell_borderless {
    border: none;
}

.diary__header-info.active {
    display: block;
}

.diary__header-current {
    display: none;
}

.diary__header-middle {
    height: 59px;
    box-sizing: border-box;
    background: #f5f5f5;

    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e3e3e4;
    border-right: 1px solid #e3e3e4;
    border-bottom: 1px solid #dedfe0;
}

.diary__header-name {
    display: block;
    float: left;
    margin: 19px 0 0 21px;
    font: 700 18px/1 Open Sans;
    color: #596582;
}

.diary__header-dates {
    width: 330px;
    height: 33px;
    position: relative;
    float: right;
    margin: 12px 42px 0 0;
    white-space: nowrap;
}

.diary__header-dates b {
    font-weight: 400;
    color: #a5a5a5;
}

.diary__header-dates .header__dates-arrow {
    width: 31px;
    height: 31px;
    margin-top: 1px;
    box-sizing: border-box;
    background: url(../img/icon-arrow-gray.png) no-repeat center;
    transition: background ease .4s;
    cursor: pointer;
    vertical-align: top;
}

.header__dates-arrow.header__dates-arrow_prev {
    float: left;
}
.header__dates-arrow.header__dates-arrow_next {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

    float: right;
}

.diary__header-dates .header__dates-arrow:hover {
    background-image: url(../img/icon-arrow.png);
}

.header__dates-arrow-current {
    width: 260px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -130px;
    font: 700 14px/1 Open Sans;
    color: #4c5976;
    text-align: center;
}

.diary__header-show-period {
    width: 154px;
    float: right;
    margin: 12px 26px 0 0;
}

.diary__header-period {
    display: none;

    width: 668px;
    height: 103px;
    box-sizing: border-box;
    padding: 29px 0 0 40px;
    background: #fff;

    border: 1px solid rgba(0,0,0,.23);
    border-radius: 4px;

    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);

    position:absolute;
    right: 26px;
    top: 149px;
    font: 700 18px Open Sans;
    color: #4c5976;
    z-index:10;
}

.diary__header-period.diary__header-period_visible {
    display: block;
}

.diary__header-period:after {
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;

    position: absolute;
    right: 69px;
    top: -6px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: 1px solid rgba(0,0,0,.23);
    border-top: 1px solid rgba(0,0,0,.23);
    border-radius: 2px;

    content: '';
}


.diary__header-period label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.diary__header-period input {
    display:inline-block;
    vertical-align: middle;
    margin-left: 8px;

    height: 27px;
    width: 126px;
    box-sizing: border-box;

    background: #fff;
    border-radius: 4px;
    border: 1px solid #4c5976;
    outline: none;

    font: 400 14px/1 Open Sans;
    color: #4c5976;
}

.diary__header-showperiod {
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;

    width: 116px;
    height: 27px;
    margin-left: 10px;
}

.diary__header-showperiod span {
    font-weight: 400;
}

.diary__header-perioderror {
    display: none;
    padding: 16px 0 0 366px;

    font: 400 14px/1 Open Sans;
    color: #ff1b1b;
}

.diary__header-naming {
    display: table;
    width: 100%;
    height: 57px;

    clear: both;

    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.header__naming-cell {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;

    background: #596582;
    background: -moz-linear-gradient(top,  #596582 0%, #353e56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#596582), color-stop(100%,#353e56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #596582 0%,#353e56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #596582 0%,#353e56 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #596582 0%,#353e56 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #596582 0%,#353e56 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596582', endColorstr='#353e56',GradientType=0 ); /* IE6-9 */

    border-right: 1px solid #424b65;
}
.header__naming-cell:first-child {
    border-left: 1px solid #424b65;
}

.header__naming-number {
    width: 74px;
    text-align: center;
}
.header__naming-time {
    width: 126px;
    text-align: left;
    padding: 20px 16px;
    box-sizing: border-box;
}


.header__naming-classIndex {
    width: 183px;
    text-align: left;
    padding: 20px 16px;
    box-sizing: border-box;
}

.header__naming-discipline {
    padding-left: 18px;
}

.header__naming-isDone {
    width: 130px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .header__naming-discipline{
        width: 120px;
    }
}

@media screen and (max-width: 815px){
    .diary__header-dates {
        margin-right: 28px;
        width: 310px;
    }
}