body {
    font-family: 'Open Sans', sans-serif;
}

.noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.diary__wrapper {
    /*padding: 0 20px;*/
    position: relative;
}


.diary__week {
    padding: 209px 0 0;
}

.diary__weekend {
    height: 90px;
}

.diary__day {
    overflow: hidden;
}
.diary__day.diary__day_sunday {
    background: #E2D8D8;
}

.diary__day:after {
    display: block;
    clear: both;
    content: "";
}

.diary__day-name {
    padding: 15px 11px;
    box-sizing: border-box;

    position: relative;
    z-index: 2;

    font-size: 12px;
    font-weight: 700;
    color: #fff;

    background: #9e9e9f; /* Old browsers */
    background: -moz-linear-gradient(top,  #9e9e9f 0%, #a3a3a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9f), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9e9e9f 0%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9e9e9f 0%,#a3a3a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9e9e9f 0%,#a3a3a3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9e9e9f 0%,#a3a3a3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9f', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.13);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.13);
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.13);
}

.diary__day_today .diary__day-name {
    background: #75af6f;
}

.diary__day-name span {
    display: block;
}

.diary__day-content {
    display: table;
    width: 100%;

    position: relative;
    z-index: 1;
}

.diary__lesson {
    display: table-row;
}

.diary__lesson_passed {
    opacity: .7;
}

.diary__lesson-cell {
    display: table-cell;
    box-sizing: border-box;
    padding: 20px 16px;
    border-right: 1px solid #e5e5e5;
    border-top: none;
    border-left: none;
    vertical-align: middle;
    font: 300 14px/1 Open Sans;
    color: #4c6371;
}

.diary__lesson-cell:first-child{
    border-left: 1px solid #e5e5e5;
}

.diary__lesson-cell_number {
    width: 74px;
    padding: 20px 0;
    text-align: center;
}
.diary__lesson-cell_time {
    width: 126px;
    padding: 20px 16px;
    text-align: left;
    box-sizing: border-box;
}

.diary__lesson-cell_classIndex {
    width: 183px;
    border-left: none;
    text-align: left;
    cursor: pointer;
}

.diary__lesson-cell_classIndex a {
    font: 700 14px/1 Open Sans;
    color: #4c6371;
    text-decoration: underline;
}

.diary__lesson-cell_classIndex:hover {
    background: url(../img/icon-journal.png) no-repeat 67px center;
}

.diary__lesson-cell_classIndex:hover a {
    text-decoration: none;
}

.diary__lesson-cell_discipline {
    /*width: 62.23%;*/
    border-left: none;
}

.diary__lesson-cell_isDone {
    width: 130px;
    text-align: center;
}

.isDone__box {
    display: inline-block;
    width: 22px;
    height: 22px;

    background: #e2e2e2;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;

    position: relative;
}

.isDone__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.isDone__checkbox {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;

    cursor: pointer;
}

.isDone__checkbox:checked + .isDone__bg {
    background: url(../img/icon-checkbox.png) no-repeat center;
}

@media screen and (max-width: 1024px){
    .diary__lesson-cell_discipline {
        width: 112px;
    }
}